.backgroud {
  --background: #3880ff !important;
}

#container {
  padding-top: 10%;
}

.icon-store {
  font-size: 80px;
}

.title {
  margin-top: 0;
  margin-bottom: 40px;
  color: #3880ff;
}

.link {
  float: right;
  padding: 20px 0;
}

#container a {
  text-decoration: none;
}
