.div1 {
  height: 50%;
  background-color: #3880ff;
}

.div2 {
  height: 50%;
  background-color: #fff;
}

#container {
  width: 100%;
  padding-top: 20%;
  position: fixed;
  top: 0;
}

.icon-store {
  font-size: 80px;
  color: #fff;
}

.title {
  margin-top: 0;
  margin-bottom: 40px;
  color: #fff;
}

.link {
  float: right;
  padding: 20px 0;
}

#container a {
  text-decoration: none;
}
